<div class="sidebar" data-color="purple" data-image="assets/assets/img/sidebar-5.jpg">
    <div class="sidebar-wrapper">
        <div class="logo">
            <a href="http://www.creative-tim.com" class="simple-text">
                Creative Tim | Project Blog
            </a>
        </div>

        <ul class="nav">
            <li>
                <a href="#/">
                    <i class="pe-7s-date"></i>
                    <p>Schedule</p>
                </a>
            </li>
            <li>
                <a href="#/classroom">
                    <i class="pe-7s-study"></i>
                    <p>Classroom</p>
                </a>
            </li>
            <li>
                <a href="#/users">
                    <i class="pe-7s-bell"></i>
                    <p>users</p>
                </a>
            </li>
            <li>
                <a href="#/students">
                    <i class="pe-7s-bell"></i>
                    <p>Student</p>
                </a>
            </li>
            <li>
                <a href="#/teachers">
                    <i class="pe-7s-bell"></i>
                    <p>Teacher</p>
                </a>
            </li>
            <li>
                <a href="#/logout">
                    <i class="pe-7s-power"></i>
                    <p>Logout</p>
                </a>
            </li>
            <li class="active-pro">
                <a href="#/upgrade">
                    <i class="pe-7s-rocket"></i>
                    <p>Upgrade to PRO</p>
                </a>
            </li>

        </ul>
	</div>
</div>