
<div class="row">
	<div class="col-md-3">
		<div class="panel panel-default">
			<div class="panel-body" ng-include="'sidebar.tmp'">
				
			</div>
		</div>
	</div>
	<div class="col-md-9">
		<div class="panel panel-default">
			<div class="panel-body">
				<div ng-include="'participants_list_can_be_added.tmp'"></div>
			</div>	
		</div>
	</div>
</div>

<script type="text/ng-template" id="participants_list_can_be_added.tmp">
	<a href="#/classroom/open/{{detail_schedule.class_code}}/schedule/{{detail_schedule.id}}" class="btn btn-primary btn-sm"> <i class="glyphicon glyphicon-chevron-left"></i> Kembali </a>
	<h3>Siswa yang dapat ditambahkan</h3>
	<div class="table-responsive">
		<table class="table table-hover table-striped table-bordered">
			<thead>
				<tr>
					<th class="col-md-1">No.</th>
					<th class="col-md-9">Name</th>
					<th class="col-md-2">Action</th>
				</tr>
			</thead>
			<tbody>
				<tr ng-if="detail_schedule.participants.length>=detail_schedule.capacity">
					<td class="text-center" colspan="3">Kapasitas kelas telah habis, silahkan buat jadwal baru <br> <a href="#/classroom/open/{{detail_schedule.class_code}}/new_schedule" class="btn btn-primary btn-sm">Buat jadwal</a> </td>
				</tr>
				<tr ng-if="detail_schedule.students.length < 1">
					<td class="text-center" colspan ="3">Tidak ditemukan siswa</td>
				</tr>
				<tr ng-repeat="student in students track by $index" ng-if="detail_schedule.participants.length<detail_schedule.capacity">
					<td class="col-md-1">{{$index+1}}</td>
					<td class="col-md-9">{{student.name}}</td>
					<td class="col-md-2">
						<button class="mdl-button mdl-js-button mdl-button--icon" ng-click="add_to_schedule(student, $index)">
						  <i class="material-icons">add</i>
						</button>
					</td>
				</tr>
				<tr ng-if="students_can_be_added.length < 1 && detail_class.capacity > detail_class.participants.length">
					<td colspan="3" class="text-center">No data found!</td>
				</tr>

				<tr ng-if="detail_class.capacity <= detail_class.participants.length">
					<td colspan="3" class="text-center">Sorry Your class is full of capacity. please open more class!</td>
				</tr>
			</tbody>
		</table>
	</div>
</script>
<script type="text/ng-template" id="sidebar.tmp">
	<ul class="mdl-list" id="sidebar-list">
		<li class="mdl-list__item mdl-list__item--three-line">
			<span class="mdl-list__item-primary-content">
				<i class="material-icons mdl-list__item-icon">people</i>
				<span>Students</span> <span class="label label-danger" ng-if="detail_schedule.capacity <= detail_schedule.participants.length">Full</span>
				<span class="mdl-list__item-text-body">
					{{detail_schedule.participants.length}} Students registered 
				</span>
			</span>
		</li>
		<li class="mdl-list__item mdl-list__item--three-line">
			<span class="mdl-list__item-primary-content">
				<i class="material-icons mdl-list__item-icon">school</i>
				<span>Teacher</span>
				<span class="mdl-list__item-text-body">
					Mr/Mrs. {{detail_schedule.teacher}}
				</span>
			</span>
		</li>
		<li class="mdl-list__item mdl-list__item--three-line">
			<span class="mdl-list__item-primary-content">
				<i class="material-icons mdl-list__item-icon">date_range</i>
				<span>Schedule</span>
				<span class="mdl-list__item-text-body">
					Every {{detail_schedule.held_on_days}}, at {{detail_schedule.held_at}}
				</span><br>
			</span>
		</li>
	</ul>
</script>